.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #ebebe3;
  min-height: 100vh;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
  }
}
