@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bookViewContainer {
    /* display: flex; */
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.bookDetailsContent {
    margin-left: 10vw;
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}


.bookDetails {
    margin-right: 50px;
    width: 35vw;
    margin-left: 4vw;
    align-items: flex-start;
    margin-left: 10vw;
}

.bookHeading {
    margin-left: 20vw;
}

.bookImage img {
    width: 700px;
    height: auto;
    border: black solid 2px;
    padding: 5px;
    margin-left: 10vw;
}


.Rating {
    flex-grow: 1;
    width: 30vw;
    margin-left: 40vw;
}

.averageRating {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}