.MyBooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.content {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.issueHistoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    row-gap: 1rem;
}