.container {
    padding: 20px;
    width: 40vw;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.searchBar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.searchResults {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.searchButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}